In [ ]:

                                                # NAMA    : Galih Rahmawan
                                                # NIM     : 221011402894
                                                # KELAS   : 04TPLE013
                                                # JURUSAN : TEKNIK_INFORMATIKA



# DATA1_UTS_MATA_KULIAH_DATA_MINING_TEKNIK_INFORMATIKA

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [22]:
# pertanyaan 1 => Please get the list of all Companies and sort by Company Domain in reverse order.


import json

def sort_company():
    
#data

    company_detail_list = {
          'Company 1': {
              'name': 'PT Paradise Perkasa',
              'domain': 'Distributor',
              'clients': [
                  {
                      'name': 'Galih.fh',
                      'country': 'united states'
                  },
                  {
                      'name': 'Wayne.co',
                      'country': 'united states'
                  }
              ]
          },
          'Company 2': {
              'name': 'PT Pertamina',
              'domain': 'Construction',
              'clients': [
                  {
                      'name': 'Tesla',
                      'country': 'united states'
                  },
                  {
                      'name': 'Japan Airlines',
                      'country': 'japan'
                  },
                  {
                      'name': 'Indofood',
                      'country': 'indonesia'
                  }
              ]
          },
          'Company 3': {
              'name': 'PT Musim Mas',
              'domain': 'Healthcare',
              'clients': [
                  {
                      'name': 'Petronas',
                      'country': 'malaysia'
                  },
                  {
                      'name': 'VW Group',
                      'country': 'germany'
                  },
                  {
                      'name': 'IBM',
                      'country': 'united states'
                  },
                  {
                      'name': 'Mitsubishi',
                      'country': 'japan'
                  }
              ]
          }
      }
    
    sorted_companies = sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse=True)
    
    result = [{"name": company['name'], "domain": company['domain']} for company in sorted_companies]
    
    return json.dumps(result, indent=4)

print(sort_company())

[
    {
        "name": "PT Musim Mas",
        "domain": "Healthcare"
    },
    {
        "name": "PT Paradise Perkasa",
        "domain": "Distributor"
    },
    {
        "name": "PT Pertamina",
        "domain": "Construction"
    }
]

In [23]:
# pertanyaan 2 => Please print all Domain value in every company.


def get_company_domain():
    for company in company_name_list:
        company_name = company['name']
        company_details = company_detail_list.get(company_name)
        if company_details:
            domain = company_details['domain']
            num_clients = len(company_details['clients'])
            print(f"{company_name}: {domain}, relation: {num_clients} clients")
        else:
            print(f"{company_name}: Details not found")

get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [24]:
# pertanyaan 3 => Create a function that return employees with it's company domain.


def get_employees():
    employees_with_domain = []
    for employee in employee_name_list:
        employee_name = employee['name']
        company_name = employee_detail_list[employee_name]['company']
        company_domain = company_detail_list[company_name]['domain']
        full_name = employee_detail_list[employee_name]['full_name']
        employees_with_domain.append({
            "full_name": full_name,
            "company": company_name,
            "domain": company_domain
        })
    return employees_with_domain

print(json.dumps(get_employees(), indent=4))

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "domain": "Retail"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "domain": "Construction"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 2",
        "domain": "Construction"
    }
]

In [25]:
# pertanyaan 4 => Create a function that return companies with list of employees that are working in the company.


def get_employees():
    employees_by_company = {}
    for employee in employee_name_list:
        employee_name = employee['name']
        company_name = employee_detail_list[employee_name]['company']
        full_name = employee_detail_list[employee_name]['full_name']
        if company_name not in employees_by_company:
            employees_by_company[company_name] = []
        employees_by_company[company_name].append(full_name)
    
    result = []
    for company in company_name_list:
        company_name = company['name']
        employees = employees_by_company.get(company_name, [])
        result.append({
            "company": company_name,
            "employees": employees
        })
    
    return result

print(json.dumps(get_employees(), indent=4))

[
    {
        "company": "Company 1",
        "employees": [
            "John Doe"
        ]
    },
    {
        "company": "Company 2",
        "employees": [
            "Tom Smith",
            "Andrew Sebastian"
        ]
    },
    {
        "company": "Company 3",
        "employees": []
    }
]

In [ ]:
# DATA2_UTS_MATA_KULIAH_DATA_MINING_TEKNIK_INFORMATIKA

R&D   Spend	     Administration	 Marketing Spend	State	     Profit
45	  1000.23	 124153.04	     1903.93	        New York	 64926.08
10	  NaN	     110594.11	     229160.95	        Florida	     146121.95
20	  76253.86	 113867.30	     298664.47	        California	 118474.03
32	  63408.86	 129219.61	     46085.25	        California	 97427.84
40	  28754.33	 118546.05	     172795.67	        California	 78239.91
14	  119943.24	 156547.42	     256512.92	        Florida	     132602.65
6	  134615.46	 147198.87	     127716.82	        California	 156122.51

In [1]:
# Pertanyaan 1 => Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

import pandas as pd
import numpy as np

data = {
    'R&D Spend'      : [1000.23, np.nan, 76253.86, 63408.86, 28754.33, 119943.24, 134615.46],
    'Administration' : [124153.04, 110594.11, 113867.30, 129219.61, 118546.05, 156547.42, 147198.87],
    'Marketing Spend': [1903.93, 229160.95, 298664.47, 46085.25, 172795.67, 256512.92, 127716.82],
    'State'          : ['New York', 'Florida', 'California', 'California', 'California', 'Florida', 'California'],
    'Profit'         : [64926.08, 146121.95, 118474.03, 97427.84, 78239.91, 132602.65, 156122.51]
}

df = pd.DataFrame(data)

print("Data awal:")
print(df)

df['R&D Spend'].fillna(df['R&D Spend'].mean(), inplace=True)

print("\nDataF setelah pengisian nilai NaN:")
print(df)

Data awal:
   R&D Spend  Administration  Marketing Spend       State     Profit
0    1000.23       124153.04          1903.93    New York   64926.08
1        NaN       110594.11        229160.95     Florida  146121.95
2   76253.86       113867.30        298664.47  California  118474.03
3   63408.86       129219.61         46085.25  California   97427.84
4   28754.33       118546.05        172795.67  California   78239.91
5  119943.24       156547.42        256512.92     Florida  132602.65
6  134615.46       147198.87        127716.82  California  156122.51

DataF setelah pengisian nilai NaN:
       R&D Spend  Administration  Marketing Spend       State     Profit
0    1000.230000       124153.04          1903.93    New York   64926.08
1   70662.663333       110594.11        229160.95     Florida  146121.95
2   76253.860000       113867.30        298664.47  California  118474.03
3   63408.860000       129219.61         46085.25  California   97427.84
4   28754.330000       118546.05        172795.67  California   78239.91
5  119943.240000       156547.42        256512.92     Florida  132602.65
6  134615.460000       147198.87        127716.82  California  156122.51

In [2]:
# Pertanyaan 2 => lakukan oneHotEncoder ke field state

import pandas as pd

from io import StringIO

data = """R&D Spend,Administration,Marketing Spend,State,Profit
1000.23,124153.04,1903.93,New York,64926.08
NaN,110594.11,229160.95,Florida,146121.95
76253.86,113867.30,298664.47,California,118474.03
63408.86,129219.61,46085.25,California,97427.84
28754.33,118546.05,172795.67,California,78239.91
119943.24,156547.42,256512.92,Florida,132602.65
134615.46,147198.87,127716.82,California,156122.51"""

data_startup = pd.read_csv(StringIO(data))

mean_rd_spend = data_startup['R&D Spend'].mean()
data_startup['R&D Spend'].fillna(mean_rd_spend, inplace=True)

state_dummies = pd.get_dummies(data_startup['State'], prefix='State')

data_encoded = pd.concat([data_startup, state_dummies], axis=1)

data_encoded.drop('State', axis=1, inplace=True)

print(data_encoded)

       R&D Spend  Administration  Marketing Spend     Profit  \
0    1000.230000       124153.04          1903.93   64926.08
1   70662.663333       110594.11        229160.95  146121.95
2   76253.860000       113867.30        298664.47  118474.03
3   63408.860000       129219.61         46085.25   97427.84
4   28754.330000       118546.05        172795.67   78239.91
5  119943.240000       156547.42        256512.92  132602.65
6  134615.460000       147198.87        127716.82  156122.51

   State_California  State_Florida  State_New York
0             False          False            True
1             False           True           False
2              True          False           False
3              True          False           False
4              True          False           False
5             False           True           False
6              True          False           False

In [3]:
# Pertanyaan 3 => buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%


state_dummies = pd.get_dummies(data_startup['State'], prefix='State')
data_encoded = pd.concat([data_startup, state_dummies], axis=1).drop('State', axis=1)

data_encoded['Tax'] = (data_encoded['Profit'] + data_encoded['Marketing Spend'] + data_encoded['Administration']) * 0.05


print(data_encoded)

       R&D Spend  Administration  Marketing Spend     Profit  \
0    1000.230000       124153.04          1903.93   64926.08
1   70662.663333       110594.11        229160.95  146121.95
2   76253.860000       113867.30        298664.47  118474.03
3   63408.860000       129219.61         46085.25   97427.84
4   28754.330000       118546.05        172795.67   78239.91
5  119943.240000       156547.42        256512.92  132602.65
6  134615.460000       147198.87        127716.82  156122.51

   State_California  State_Florida  State_New York         Tax
0             False          False            True   9549.1525
1             False           True           False  24293.8505
2              True          False           False  26550.2900
3              True          False           False  13636.6350
4              True          False           False  18479.0815
5             False           True           False  27283.1495
6              True          False           False  21551.9100

In [4]:
# Pertanyaan 4 => Jalankan standardScaler field-field tersebut


import pandas as pd
from sklearn.preprocessing import StandardScaler
from io import StringIO
data = { '50_Startups.csv'}

mean_rd_spend = data_startup['R&D Spend'].mean()
data_startup['R&D Spend'].fillna(mean_rd_spend, inplace=True)

state_dummies = pd.get_dummies(data_startup['State'], prefix='State')
data_encoded = pd.concat([data_startup, state_dummies], axis=1).drop('State', axis=1)

data_encoded['Tax'] = (data_encoded['Profit'] + data_encoded['Marketing Spend'] + data_encoded['Administration']) * 0.05

columns_to_scale = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

scaler = StandardScaler()
data_encoded[columns_to_scale] = scaler.fit_transform(data_encoded[columns_to_scale])

print(data_encoded)

   R&D Spend  Administration  Marketing Spend    Profit  State_California  \
0  -1.603505       -0.277473        -1.571714 -1.519197             False
1   0.000000       -1.125502         0.661652  1.024661             False
2   0.128699       -0.920784         1.344697  0.158454              True
3  -0.166970        0.039410        -1.137522 -0.500921              True
4  -0.964655       -0.628156         0.107723 -1.102077              True
5   1.134351        1.748600         0.930453  0.601102             False
6   1.472079        1.163905        -0.335289  1.337977              True

   State_Florida  State_New York         Tax
0          False            True   9549.1525
1           True           False  24293.8505
2          False           False  26550.2900
3          False           False  13636.6350
4          False           False  18479.0815
5           True           False  27283.1495
6          False           False  21551.9100